@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {margin: 0;padding: 0;box-sizing: border-box;font-family: 'Roboto', sans-serif;}
#root, html {background-color: rgb(15, 69, 156);height: 100%;}
.socialLogin {display: flex;justify-content: center;}
.google {color: #737373;background: #FFFF;}

.sign-in {
  p {
    padding-left: 36px;
  }
  margin: 40px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  font-size: 21px;
  padding-left: 12px;
  padding-right: 12px;
  height: 60px;
  width: 268px;
  border: none;
}

.messagesContainer {
  background: rgb(0, 140, 255);
  padding: 10px;
  height: 83vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.messagesContainer::-webkit-scrollbar {width: 1vh}
.messagesContainer::-webkit-scrollbar-thumb {background-color: rgb(29, 29, 29);border-radius: 1vh;}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.25vh solid white;
  padding: 15px;
  height: 7vh;
}

.header h2 {color: white;font-size: 2.2vh;font-weight: normal;}

.sign-out {
  background: none;
  border: none;
  font-size: 2.2vh;
  color: white;
}

.Message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .leftMessage {
    display: flex;
  }
  .messageOptions {
    color: white;
    font-size: 28px;
    background: none;
    margin-left: 19px;
    outline: none;
    border: none;
  }
  .userName {
    font-size: 11px;
    color: rgb(201, 201, 201);
    text-decoration: underline;
  }
  .messageText {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 233, 233);
    font-size: 15px;
  }
  .chatProfileImage {
    margin: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.formContainer {
  height: 10vh;
  background: rgb(85, 85, 85);
  display: flex;
  align-items: center;
  form {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.sendButton {
  width: 20vh;
}

.inputBar {
  width: 100%;
}